{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "serviceworker": true
    },
    "rules": {
        "import/extensions": [1, "never", { "jsx": "always" }]
    }
}