/* --------------------------------------------------------------------------------- */

/* SETUP - START */

$--xs: "screen and (min-width: 320px)";
$--sm: "screen and (min-width: 576px)";
$--md: "screen and (min-width: 768px)";
$--lg: "screen and (min-width: 992px)";
$--xl: "screen and (min-width: 1200px)";

$--xs-only: "screen and (min-width: 320px) and (max-width: 575px)";
$--sm-only: "screen and (min-width: 576px) and (max-width: 767px)";
$--md-only: "screen and (min-width: 768px) and (max-width: 991px)";
$--lg-only: "screen and (min-width: 992px) and (max-width: 1199px)";
$--xl-only: "screen and (min-width: 1200px)";

$--xs-sm: "screen and (max-width: 767px)";
$--xs-md: "screen and (max-width: 991px)";

/* SETUP - END */

/* --------------------------------------------------------------------------------- */

/* ROOT - START */

@mixin --transition-all() {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* ROOT - END */

/* --------------------------------------------------------------------------------- */

/* GLOBAL - START */

body {
  font-family: 'Roboto', Arial, sans-serif;
}

@media #{$--xs-sm} {
  body {
    font-size: 80%;
  }
}

/* GLOBAL - END */

/* --------------------------------------------------------------------------------- */

/* LIBRARY - START */

/* LIBRARY - END */

/* --------------------------------------------------------------------------------- */

/* ANIMATION - START */

@keyframes snow {
  0% {background-position: 0 0, 0 0, 0 0;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0 0, 0 0, 0 0;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0 0, 0 0, 0 0;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0 0, 0 0, 0 0;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

/* ANIMATION - END */

/* --------------------------------------------------------------------------------- */

/* APP-WIDE - START */

div.app-container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  & .background {
    background: #F0FBFD linear-gradient(#6BD4E9, #6BD4E9, white, #ECE4B6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    &.full-screen {
      z-index: 7;
    }
    & .snow {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      //background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
      //-webkit-animation: snow 10s linear infinite;
      //-moz-animation: snow 10s linear infinite;
      //-ms-animation: snow 10s linear infinite;
      //animation: snow 10s linear infinite;
    }
  }
}

/* APP-WIDE - END */

/* --------------------------------------------------------------------------------- */

/* SEARCH BAR - START */

.search-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 5rem;
  display: flex;
  z-index: 2;
  @include --transition-all();
  @media #{$--md} {
    height: 7rem;
  }
  &.full {
    height: 100%;
  }
  & .search {
    display: flex;
    flex: 1;
    align-items: center;
    @include --transition-all();
    & form {
      flex: 1;
      background-color: white;
      & .form-group {
        margin: 0;
        & .input-group {
          position: relative;
          z-index: 3;
          -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
          -moz-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
          box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
          & .search-wrapper {
            width: 100%;
            & input#query {
              width: 100%;
              border-radius: 0;
              border: 0;
            }
            & .suggestions-menu {
              position: absolute;
              top: 100%;
              right: 0;
              left: 0;
              border-top: 0;
              z-index: 4;
              background-color: white;
              -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
              -moz-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
              box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
              & .suggestion {
                padding: 0 .8rem;
                &:hover, &.highlighted {
                  background-color: #f0f0f0;
                }
              }
            }
          }
          & button.btn {
            background-color: transparent;
            color: #025aa5;
            flex-direction: row;
            border-radius: 0;
            border: 0;
            &:hover {
              cursor: pointer;
              background-color: #025aa5;
              color: white;
            }
            & i.fa-search {
              margin-right: .5rem;
            }
            @media #{$--xs-sm} {
              & span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

/* SEARCH BAR - END */

/* --------------------------------------------------------------------------------- */

/* LOADER - START */

.loader-screen {
  flex: 1;
  padding-top: 5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media #{$--md} {
    padding-top: 7rem;
  }
  & img {
    max-width: 275px;
  }
}

.loader-block {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & img {
    max-width: 275px;
  }
}

/* LOADER - END */

/* --------------------------------------------------------------------------------- */

/* SEARCH PAGE - START */

.search-page-container {
  flex: 1;
  padding-top: 5rem;
  padding-bottom: 1rem;
  @media #{$--md} {
    padding-top: 7rem;
  }
  & .search-results {
    display: flex;
    flex-direction: column;
    & .search-result {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: .5rem;
      margin: .5rem;
      border-radius: .5rem;
      background: rgba(255, 255, 255, .8);
      @include --transition-all();
      @media #{$--md} {
        flex-direction: row;
      }
      &:hover {
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
        transform: scale(1.03);
        -webkit-box-shadow: 0 0 3rem 0 rgba(255, 255, 255, 1);
        -moz-box-shadow: 0 0 3rem 0 rgba(255, 255, 255, 1);
        box-shadow: 0 0 3rem 0 rgba(255, 255, 255, 1);
        background: rgba(255, 255, 255, 1);
      }
      & .img-container {
        flex: 1;
        display: flex;
        align-items: stretch;
        position: relative;
        margin-bottom: 1rem;
        @media #{$--md} {
          flex: 0 0 25%;
          padding-right: 1rem;
          margin-bottom: 0;
        }
        @media #{$--lg} {
          flex: 0 0 20%;
        }
        @media #{$--xl} {
          flex: 0 0 15%;
        }
        & .img-res {
          flex: 1;
          position: relative;
          & .img-res-inner {
            background: transparent center center/cover no-repeat;
            padding-bottom: 56.25%;
            @media #{$--md} {
              padding-bottom: 75%;
            }
          }
        }
      }
      & .text-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & a.result-title {
          color: #1a0dab;
          &:visited {
            color: #609;
          }
          @media #{$--md} {
            margin: 0;
          }
        }
        & cite.result-url {
          word-break: break-all;
          font-style: normal;
          color: #006621;
          font-size: .8rem;
        }
        & p.result-description {
          color: #545454;
          margin-bottom: 0;
          font-size: .8rem;
        }
      }
    }
  }
}

/* SEARCH PAGE - END */

/* --------------------------------------------------------------------------------- */

/* RESULT PAGE - START */

div.result-page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 1rem;
  @media #{$--xs-only} {
    width: 100%;
  }
  @media #{$--md} {
    padding-top: 7rem;
  }
  & .page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    & .tools {
      text-align: right;
      margin-bottom: 1rem;
      &.full-screen {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 9;
        margin: 0;
        -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .4);
        -moz-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .4);
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .4);
      }
      & button.btn {
        min-width: 1.8rem;
      }
    }
    & .page-iframe-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      & .page-info {
        position: relative;
        & p {
          padding: .25rem .5rem;
          margin: 0;
          background-color: white;
          -webkit-box-shadow: 0 0 1rem 0 white;
          -moz-box-shadow: 0 0 1rem 0 white;
          box-shadow: 0 0 1rem 0 white;
          font-size: 80%;
          overflow: hidden;
          max-height: 1.4rem;
          word-break: break-all;
          &.page-title {
            position: absolute;
            bottom: 100%;
            display: inline-block;
            margin: 0 1rem;
            font-weight: bold;
            max-width: 8rem;
            @media #{$--sm} {
              max-width: 20rem;
            }
            @media #{$--md} {
              max-width: 14rem;
            }
            @media #{$--lg} {
              max-width: 26rem;
            }
            @media #{$--xl} {
              max-width: 38rem;
            }
          }
          &.page-url {
            position: relative;
            z-index: 0;
            border-bottom: .125rem solid #ccc;
          }
        }
      }
      & .iframe-container {
        flex: 1;
        position: relative;
        -webkit-box-shadow: 0 0 1rem 0 white;
        -moz-box-shadow: 0 0 1rem 0 white;
        box-shadow: 0 0 1rem 0 white;
        &.full-screen {
          position: fixed;
          top: 3rem;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 8;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
        & iframe {
          width: 100%;
          height: 100%;
          border: 0;
          position: absolute;
          opacity: 0;
          background-color: white;
          @include --transition-all();
          &.iframe-show {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* RESULT PAGE - END */

/* --------------------------------------------------------------------------------- */

/* NEXT RESULT MODAL - START */

div.next-result-modal {
  & .modal-content {
    & .modal-body {
      position: relative;
      & .img-container {
        & img.body-path-img {
          width: 100%;
          height: auto;
        }
      }
      & .buttons-container {
        position: absolute;
        top: 1rem;
        right: 1rem;
        bottom: 1rem;
        left: 1rem;
        padding: 1rem;
        & .button-container {
          padding: .5rem 1.5rem;
          & button.btn-more {
            background-color: transparent;
            border: 2px solid;
            border-radius: 1rem;
            color: white;
            display: inline-block;
            text-align: center;
            @include --transition-all();
            &:hover {
              cursor: pointer;
            }
            &.btn-like {
              background-color: rgba(38, 98, 54, .4);
              border-color: rgb(38, 98, 54);
              &:hover {
                background-color: rgba(38, 98, 54, .8);
              }
            }
            &.btn-unlike {
              background-color: rgba(102, 0, 0, .4);
              border-color: rgb(102, 0, 0);
              &:hover {
                background-color: rgba(102, 0, 0, .8);
              }
            }
            & img.btn-img {
              max-width: 4rem;
              display: inline-block;
              margin-bottom: .5rem;
            }
          }
        }
      }
    }
  }
}

/* NEXT RESULT MODAL - END */

/* --------------------------------------------------------------------------------- */
